body{
  padding-top:80px;
  word-wrap:break-word;
}

.well{
  display: none;
}

input[type="text"] {
    width: 30%;
    padding: 8px;
    margin-right: 10px;
} 

.hidden {
    display: none;
}


/* 
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.container {
    margin-top: 20px;
}

.page-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
}

*/


