body{
  padding-top:80px;
  word-wrap:break-word;
  background: salmon;
}

.well{
  display: none;
}

input[type="text"] {
    width: 30%;
    padding: 8px;
    margin-right: 10px;
} 

.hidden {
    display: none;
}

.row{
  display: flex;
}
h4{
  padding-right: 20px;
}
