body{
  padding-top:80px;
  word-wrap:break-word;
  background: salmon;
}

.well{
  display: none;
}

input[type="text"] {
    width: 30%;
    padding: 8px;
    margin-right: 10px;
} 

.hidden {
    display: none;
}

<<<<<<< HEAD
.row{
  display: flex;
}
h4{
  padding-right: 20px;
}
=======

>>>>>>> 88287fe186a11a3c19543a09f63a3d5a51f24ca2
